
<div style="margin: 50px auto; font-size: 1.10em; text-align: center">
	<%= form_for(@conversion) do |f| %>
		<% if @conversion.errors.any? %>
			<div id="error_explanation">
				<ul>
					<li style="color: #b80030; list-style-type: none"><%= pluralize(@conversion.errors.count, "error") %> prohibited this conversion from being saved:</li>
				</ul>
				
				<% @conversion.errors.full_messages.each do |message| %>
					<h3 style="color: #b80030"><%= message %></h3>
				<% end %>
				
			</div>
		<% end %>

		<div class="field" style="margin: 10px auto; font-size: 1.15em;">
			<p style="color: white;"><%= f.label :convert_me, 'Convert Me' %></p>
			<p><%= f.text_field :convert_me, autofocus: true, id: "destination", style: 'font-size: 1.1em;' %></p>
		</div>

		<div style="">
			<%= f.submit ('Convert It!'), style: 'font-size: 1.5em; width: 200px; height: 35px; background-color: green; color: white; text-decoration: none' %>
		</div>
	<% end %>
</div>

<div style="text-align: center;">
	<%= link_to 'Clear ', new_conversion_path, style: 'font-size: 1.5em; text-decoration: none; color: #b80030' %>
</div>

<div style="color: grey; font-size: .95em; text-align: center" id="">